:root {
  --blue-primary: #086cf9;
  --header-height: 5.5em;
  --side-bar-width: 7.5em;
  --side-menu-width: 24em;
  --side-closed-width: 2em;
  --padding-top: 2.8em;
  --padding-left: 4.2em;
  --padding-right: 4em;
  --content-padding-top: 3.6em;
  --page-header-height-default: 12.2em;
  --page-caption-height: 7.04em;
  --table-head-row-height: 3.5em;
  --table-body-row-height: 4.6em;
  --side-menu-header-height: 12.86em; }

@font-face {
  font-family: "dashoard-icons";
  src: url("../fonts/dashoard-icons.eot?fll5k7");
  src: url("../fonts/dashoard-icons.eot?fll5k7#iefix") format("embedded-opentype"), url("../fonts/dashoard-icons.ttf?fll5k7") format("truetype"), url("../fonts/dashoard-icons.woff?fll5k7") format("woff"), url("../fonts/dashoard-icons.svg?fll5k7#dashoard-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "dashoard-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-question:before {
  content: "\e926"; }

.icon-exit:before {
  content: "\e93e"; }

.icon-git-pull:before {
  content: "\e93d"; }

.icon-question-circle:before {
  content: "\e900"; }

.icon-document:before {
  content: "\e902"; }

.icon-chat:before {
  content: "\e903"; }

.icon-chart-column:before {
  content: "\e939"; }

.icon-company-circle:before {
  content: "\e901"; }

.icon-users-circle:before {
  content: "\e904"; }

.icon-archive:before {
  content: "\e905"; }

.icon-arrow-right:before {
  content: "\e906"; }

.icon-arrow-left:before {
  content: "\e907"; }

.icon-arrow-down:before {
  content: "\e908"; }

.icon-arrow-up:before {
  content: "\e909"; }

.icon-calendar:before {
  content: "\e90a"; }

.icon-chart-area:before {
  content: "\e90b"; }

.icon-chart-bar:before {
  content: "\e90c"; }

.icon-chart-line:before {
  content: "\e90d"; }

.icon-chart-pie:before {
  content: "\e90e"; }

.icon-check-circle:before {
  content: "\e90f"; }

.icon-arrow-circle-up:before {
  content: "\e910"; }

.icon-arrow-circle-down:before {
  content: "\e911"; }

.icon-arrow-circle-right:before {
  content: "\e912"; }

.icon-arrow-circle-left:before {
  content: "\e913"; }

.icon-check-circle-full:before {
  content: "\e914"; }

.icon-exclamation-circle:before {
  content: "\e915"; }

.icon-plus-circle-full:before {
  content: "\e916"; }

.icon-refresh-circle-full:before {
  content: "\e917"; }

.icon-compare:before {
  content: "\e918"; }

.icon-crown:before {
  content: "\e919"; }

.icon-give-feedback:before {
  content: "\e91a"; }

.icon-minus-outlined:before {
  content: "\e91b"; }

.icon-plus-outlined:before {
  content: "\e91c"; }

.icon-cog-outlined:before {
  content: "\e91d"; }

.icon-expand-outlined:before {
  content: "\e91e"; }

.icon-cog:before {
  content: "\e91f"; }

.icon-chevron-left-outlined:before {
  content: "\e920"; }

.icon-chevron-up-outlined:before {
  content: "\e921"; }

.icon-chevron-down-outlined:before {
  content: "\e922"; }

.icon-chevron-right-outlined:before {
  content: "\e923"; }

.icon-close-outlined:before {
  content: "\e924"; }

.icon-ellipsis:before {
  content: "\e925"; }

.icon-chevron-left:before {
  content: "\e927"; }

.icon-chevron-right:before {
  content: "\e928"; }

.icon-chevron-up:before {
  content: "\e929"; }

.icon-chevron-down:before {
  content: "\e92a"; }

.icon-check:before {
  content: "\e92b"; }

.icon-close:before {
  content: "\e92c"; }

.icon-bubble:before {
  content: "\e92d"; }

.icon-bin:before {
  content: "\e92e"; }

.icon-bell:before {
  content: "\e92f"; }

.icon-caret-left:before {
  content: "\e930"; }

.icon-caret-right:before {
  content: "\e931"; }

.icon-caret-up:before {
  content: "\e932"; }

.icon-caret-down:before {
  content: "\e933"; }

.icon-shield:before {
  content: "\e934"; }

.icon-star:before {
  content: "\e935"; }

.icon-users:before {
  content: "\e936"; }

.icon-thumbs-down:before {
  content: "\e937"; }

.icon-thumbs-up:before {
  content: "\e938"; }

.icon-time:before {
  content: "\e93a"; }

.icon-user:before {
  content: "\e93b"; }

.icon-user-check:before {
  content: "\e93c"; }

button {
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  border: 0;
  outline: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100vh; }

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  font-size: 1rem; }
  body.top .header {
    top: 0;
    visibility: visible; }
  body.top .side-bar {
    margin-left: -7.5em;
    visibility: hidden; }

.main {
  margin-left: calc( var(--side-menu-width) + var(--side-bar-width) + var(--padding-left) );
  margin-top: calc(var(--header-height));
  margin-right: var(--padding-right);
  min-width: 0;
  width: calc( 100vw - var(--side-menu-width) - var(--side-bar-width) - var(--padding-left) - var(--padding-right) );
  transition: all 0.5s ease-in-out;
  transition-property: height width margin-left margin-top; }
  @media (max-width: 991px) {
    .main {
      margin-left: calc(var(--side-bar-width) + var(--padding-left) + 3em);
      width: calc( 100vw - var(--side-bar-width) - var(--padding-left) - var(--padding-right) - 3em ); } }

.button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  cursor: pointer; }
  .button-primary {
    font-weight: 500;
    border-radius: 4px;
    background-color: var(--blue-primary);
    border: solid 1px var(--blue-primary);
    color: #fff; }
  .button-white {
    font-weight: 400;
    letter-spacing: normal;
    color: #1b2733;
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #e1e4e8; }

.custom-dropdown {
  display: inline-block;
  position: relative; }
  .custom-dropdown-trigger {
    cursor: pointer;
    z-index: 50; }
    .custom-dropdown-trigger:focus + .custom-dropdown-menu, .custom-dropdown-trigger:active + .custom-dropdown-menu {
      display: block !important; }
    .custom-dropdown-trigger.top-left + .custom-dropdown-menu {
      bottom: 100%;
      right: 0;
      transform: translate(0, 0); }
  .custom-dropdown-menu {
    display: none;
    position: absolute;
    width: auto;
    z-index: 100;
    bottom: 0;
    right: 0;
    transform: translate(0, 100%); }
    .custom-dropdown-menu-item {
      white-space: nowrap; }
      .custom-dropdown-menu-item-link {
        cursor: pointer; }
    .custom-dropdown-menu:hover {
      display: block; }
  .custom-dropdown.table-dropdown .custom-dropdown-trigger {
    font-size: 1.5em;
    color: #647282; }
  .custom-dropdown.table-dropdown .custom-dropdown-menu {
    width: 24.4em;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(208, 208, 208, 0.51);
    border: solid 1px #ebebeb;
    background-color: #ffffff; }
    .custom-dropdown.table-dropdown .custom-dropdown-menu-item:not(:last-of-type) {
      border-bottom: 1px solid #ebebeb; }
    .custom-dropdown.table-dropdown .custom-dropdown-menu-item-link {
      padding: 1.45em 1.9em;
      padding-right: 2.4em;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start; }
      .custom-dropdown.table-dropdown .custom-dropdown-menu-item-link p {
        margin-right: auto;
        margin-left: 1.0769230769em;
        width: 100%;
        height: 100%;
        font-size: 1.3em;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: -0.07px;
        text-align: left;
        color: #24374d; }
      .custom-dropdown.table-dropdown .custom-dropdown-menu-item-link i {
        font-size: 1.7em;
        color: #5e6e7e; }
      .custom-dropdown.table-dropdown .custom-dropdown-menu-item-link i.icon-chevron-right {
        font-size: 1.1em;
        color: #94a4b5; }
    .custom-dropdown.table-dropdown .custom-dropdown-menu-item:hover {
      background-color: #f2f5f7; }

.custom-accordion-card-header {
  cursor: pointer; }
.custom-accordion-card-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1); }
.custom-accordion-card.open .custom-accordion-card-body {
  max-height: 100vh;
  transition: max-height 1s ease-in-out; }

.header {
  padding-left: 3.9em;
  padding-right: 2.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.5em;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
  transition-property: height opacity visibility;
  visibility: hidden;
  top: -5.5em;
  box-shadow: 0 3px 6px 0 rgba(147, 147, 162, 0.16);
  background-color: #fff; }
  .header-list {
    margin-right: 5%;
    width: 100%;
    max-width: 54.2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    list-style: none; }
    @media (max-width: 767px) {
      .header-list {
        max-width: 38.6em; } }
    .header-list-item {
      margin-right: 2em;
      position: relative; }
      .header-list-item-link {
        font-size: 1.325em;
        font-weight: 500;
        letter-spacing: -0.07px;
        color: #344563;
        white-space: nowrap;
        cursor: pointer; }
        .header-list-item-link.active {
          font-weight: 600;
          position: relative;
          color: var(--blue-primary); }
          .header-list-item-link.active::before {
            display: none !important; }
          .header-list-item-link.active::after {
            content: "";
            position: absolute;
            bottom: -1.47em;
            left: 50%;
            display: block;
            width: 130%;
            height: 3px;
            background-color: var(--blue-primary);
            transform: translate(-50%, 0); }
        .header-list-item-link::before {
          content: "";
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          width: calc(100% + 1.06em);
          height: 2.4150943396em;
          background-color: #e2edfe;
          transform: translate(-50%, -50%);
          border-radius: 2.5px;
          z-index: -1; }
        .header-list-item-link:hover:before {
          display: block; }
        .header-list-item-link:hover {
          color: var(--blue-primary); }
      @media (max-width: 767px) {
        .header-list-item:nth-of-type(4) {
          display: none; } }
  .header-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    .header-buttons > * {
      cursor: pointer; }
    .header-buttons > *:not(:last-of-type) {
      margin-right: 2em; }
    .header-buttons .initials {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      width: 1.641025641em;
      height: 1.641025641em;
      font-size: 1.85em;
      font-weight: 700;
      letter-spacing: 0.53px;
      color: #fff;
      background-color: #ffd800;
      border-radius: 50%; }
    .header-buttons i {
      font-size: 2em;
      color: #4a5767; }
  .header-close {
    top: -5.5em !important;
    opacity: 0;
    visibility: hidden; }

.side {
  height: calc(100% - var(--header-height));
  max-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: var(--header-height);
  left: 0;
  transition: all 0.5s ease-in-out;
  transition-property: height width;
  z-index: 900; }
  .side-bar {
    padding: 3em 0;
    padding-top: 4em;
    margin-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 7.5em;
    background-color: var(--blue-primary);
    transition: all 0.5s ease-in-out;
    z-index: 100; }
    .side-bar-close {
      margin-left: -5.5em; }
      .side-bar-close .side-arrow .icon-chevron-left {
        transform: rotateZ(180deg); }
      .side-bar-close .side-bar-top, .side-bar-close .side-bar-bottom {
        opacity: 0; }
    .side-bar-hide {
      margin-left: -7.5em;
      visibility: hidden; }
      .side-bar-hide .side-arrow .icon-chevron-left {
        transform: rotateZ(180deg); }
    .side-bar-top, .side-bar-bottom {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between;
      transition: all 0.5s ease-in-out; }
    .side-bar-top .side-bar-item:nth-of-type(1) i {
      font-size: 2.2em; }
    .side-bar-top .side-bar-item:nth-of-type(3) i {
      font-size: 2.2em; }
    .side-bar-bottom .side-bar-item:nth-of-type(1) i {
      font-size: 2.2em; }
    .side-bar-item {
      position: relative;
      cursor: pointer; }
      .side-bar-item:not(:last-of-type) {
        margin-bottom: 4.2em; }
      .side-bar-item i {
        font-size: 2em;
        color: #fff; }
      .side-bar-item.active::after {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4.2em;
        height: 4.2em;
        background-color: #5990f0;
        border-radius: 50%;
        z-index: -1; }
    .side-bar .initials {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      width: 1.75em;
      height: 1.75em;
      font-size: 2.4em;
      font-weight: 700;
      letter-spacing: 0.6px;
      color: #ffffff;
      background-color: #ffd800;
      border-radius: 50%; }
  .side-menu {
    position: relative;
    height: 100%;
    width: 24em;
    background-color: #f6f7f8;
    transition: all 0.5s ease-in-out;
    border-right: 1.75px solid #f1f1f1;
    z-index: 50; }
    @media (max-width: 991px) {
      .side-menu {
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25); } }
    .side-menu-close {
      margin-left: -21em;
      box-shadow: none; }
      .side-menu-close .side-arrow .icon-chevron-left {
        transform: rotateZ(180deg); }
      .side-menu-close .side-menu-content {
        opacity: 0; }
    .side-menu-content {
      transition: all 0.5s ease-in-out; }
  .side-arrow {
    position: absolute;
    top: 2.7em;
    right: 0;
    transform: translate(50%, 0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    width: 2.75em;
    height: 2.75em;
    border-radius: 50%;
    border: solid 1.5px #e5e5e5;
    background-color: #fff; }
    .side-arrow .icon-chevron-left {
      font-size: 1.2em; }

.page-wrapper {
  min-width: 0;
  width: inherit;
  max-width: inherit;
  display: inline-block; }

.page-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  height: var(--page-header-height-default);
  width: 100%;
  top: calc(var(--header-height) + var(--padding-top));
  background-color: #fff;
  z-index: 800; }
  .page-header-subtitle {
    padding-bottom: 0.4528301887em;
    font-size: 1.325em;
    font-weight: 400;
    letter-spacing: -0.14px;
    color: #6b778c; }
  .page-header-title {
    font-size: 2.4em;
    font-weight: 500;
    color: #172b4d; }
  .page-header-list {
    width: 100%;
    margin-top: auto;
    padding-left: 1.25em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    list-style: none;
    border-bottom: 2px solid #ebecf0; }
    .page-header-list-item:not(:last-of-type) {
      margin-right: 3.1em; }
    .page-header-list-item-link {
      padding-bottom: 0.7518796992em;
      font-size: 1.33em;
      font-weight: 400;
      color: #344562; }
      .page-header-list-item-link.active {
        position: relative;
        font-weight: 600;
        color: var(--blue-primary); }
        .page-header-list-item-link.active::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: 120%;
          transform: translate(-50%, 100%);
          border-bottom: 2px solid var(--blue-primary); }

.page-content {
  transition: all 0.5s ease-in-out;
  transition-property: height width;
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */ }
  .page-content::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0; }

.caption {
  margin-bottom: 2.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .caption-title {
    margin-bottom: 0.6875em;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: -0.32px;
    color: #172b4d; }
  .caption-text {
    font-size: 12.3px;
    font-weight: 400;
    letter-spacing: -0.06px;
    color: #435365; }
  .caption .button-white {
    padding: 0.546875em 1.796875em;
    align-self: flex-end;
    font-size: 1.28em; }

.custom-table-wrapper {
  height: calc(100% - var(--page-caption-height) - 2px); }
  .custom-table-wrapper-body {
    height: calc(100% - var(--table-head-row-height));
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; }
    .custom-table-wrapper-body::-webkit-scrollbar {
      width: 0;
      height: 0; }

.custom-table {
  max-height: 100%;
  display: block; }
  .custom-table-head, .custom-table-body {
    display: block; }
  .custom-table-head {
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: solid 1px #e6e8eb; }
    .custom-table-head .custom-table-row {
      height: 3.5em;
      border-top: 0;
      background-color: #f5f7f8; }
  .custom-table-body {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: solid 1px #e6e8eb;
    border-top: 0;
    overflow: visible; }
    .custom-table-body .custom-table-row {
      height: 4.6em;
      transition: background-color 0.3s ease-in-out; }
      .custom-table-body .custom-table-row:hover {
        background-color: #faf9f9; }
        .custom-table-body .custom-table-row:hover td.column-05 .custom-dropdown {
          visibility: visible;
          opacity: 1; }
  .custom-table-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    transition: background-color 0.2s ease-in-out; }
    .custom-table-row:not(:first-of-type) {
      border-top: solid 1px #e6e8eb; }
    .custom-table-row td, .custom-table-row th {
      padding-left: 1.6em;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start;
      flex: 1; }
      .custom-table-row td:not(.column-05), .custom-table-row th:not(.column-05) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        .custom-table-row td:not(.column-05) > *, .custom-table-row th:not(.column-05) > * {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      .custom-table-row td.column-02, .custom-table-row th.column-02 {
        flex: 1.2; }
      .custom-table-row td.column-04, .custom-table-row th.column-04 {
        flex: 0.8; }
      .custom-table-row td.column-05, .custom-table-row th.column-05 {
        flex: 0.3; }
    .custom-table-row th p {
      font-size: 1.1em;
      font-weight: 400;
      color: #48525d; }
    .custom-table-row th .icon-caret-down {
      margin-left: 1em;
      font-size: 0.6em;
      color: #bcc3ca; }
    .custom-table-row th.active p {
      font-weight: 500; }
    .custom-table-row th.active .icon-caret-down {
      color: #48525d; }
    .custom-table-row td:not(.column-05) {
      font-size: 1.2em;
      font-weight: 400;
      font-stretch: normal;
      letter-spacing: -0.06px;
      color: #1b2733; }
      .custom-table-row td:not(.column-05).active {
        font-weight: 500;
        color: #2f9b44; }
      .custom-table-row td:not(.column-05).pending {
        font-weight: 500;
        color: var(--blue-primary); }
    .custom-table-row td.column-05 .custom-dropdown {
      transition: opacity 0.3s ease-in-out;
      visibility: hidden;
      opacity: 0; }
    .custom-table-row .td-input {
      border: 0;
      outline: 0;
      font-size: inherit;
      color: #1b2733;
      background-color: transparent;
      cursor: pointer; }
      .custom-table-row .td-input::placeholder {
        letter-spacing: -0.06px;
        color: rgba(27, 39, 51, 0.38); }
  .custom-table-input-row {
    height: 6em;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    border-top: solid 1px #e6e8eb !important; }
    .custom-table-input-row.open {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
    .custom-table-input-row td {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start;
      flex: 1;
      padding-left: 1.6em; }
    .custom-table-input-row .column-01 input {
      width: 100%;
      max-width: 15.8536585366em;
      padding-bottom: 0.6910569106em;
      font-size: 1.23em;
      font-weight: 400;
      letter-spacing: -0.06px;
      color: #48525d;
      border: 0;
      outline: 0;
      border-bottom: 1.5px solid #e6e8eb; }
      .custom-table-input-row .column-01 input::placeholder {
        color: #a7acb1; }
    .custom-table-input-row .column-02 {
      padding-right: 5.4%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      justify-content: flex-end; }
      .custom-table-input-row .column-02 .button {
        padding: 0.546875em 0;
        width: 6.5625em;
        font-size: 1.28em;
        letter-spacing: -0.06px; }
        .custom-table-input-row .column-02 .button-primary {
          margin-right: 1.09375em; }

#team-members {
  margin-top: calc(var(--header-height) + var(--padding-top)); }
  #team-members .page-header {
    min-width: 0;
    width: 100%;
    max-width: 81.7em; }
  #team-members .page-content {
    min-width: 0;
    width: 100%;
    max-width: 81.7em;
    margin-top: var(--content-padding-top);
    height: calc( 100vh - var(--header-height) - var(--padding-top) - var(--content-padding-top) - var(--page-header-height-default) ) !important; }

#people-overview .side-menu-content {
  padding-top: calc(6.5em - var(--header-height));
  padding-left: 2em;
  padding-right: 2.6em; }
  #people-overview .side-menu-content .custom-accordion-card-header {
    padding: 1.5384615385em 0;
    border-bottom: 2px solid #e2e4e9; }
    #people-overview .side-menu-content .custom-accordion-card-header .icon-chevron-down {
      font-size: 1.0769230769em;
      color: #42526e; }
  #people-overview .side-menu-content .custom-accordion-card-body .custom-accordion-card-item {
    padding-bottom: 1.5384615385em;
    font-weight: 400; }
    #people-overview .side-menu-content .custom-accordion-card-body .custom-accordion-card-item:first-of-type {
      padding-top: 1.5384615385em; }
  #people-overview .side-menu-content .custom-accordion-card-item {
    padding-left: 0.8461538462em;
    padding-right: 0.3846153846em;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    font-size: 1.3em;
    font-weight: 600;
    color: #42526e; }
  #people-overview .side-menu-content .custom-accordion-card.open .custom-accordion-card-header .icon-chevron-down {
    transform: rotateZ(180deg); }
  #people-overview .side-menu-content .custom-accordion-card.open .custom-accordion-card-body {
    border-bottom: 2px solid #e2e4e9; }
#people-overview .page-content {
  min-width: 0;
  width: 100%;
  max-width: 94em;
  padding-top: var(--padding-top);
  height: calc(100vh - var(--header-height)) !important; }
  #people-overview .page-content .custom-accordion-card-header {
    padding-top: 0.85em;
    padding-bottom: 0.85em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    border-bottom: 2px solid #ebecf0;
    font-size: 2em;
    font-weight: 500;
    color: #172b4d; }
    #people-overview .page-content .custom-accordion-card-header .custom-dropdown {
      margin-left: auto; }
      #people-overview .page-content .custom-accordion-card-header .custom-dropdown-trigger {
        font-size: 0.675em;
        color: #828da0; }
    #people-overview .page-content .custom-accordion-card-header .icon-chevron-down {
      margin-left: 1.5em;
      margin-right: 1.5em;
      color: rgba(92, 106, 131, 0.76); }
  #people-overview .page-content .custom-accordion-card.open .custom-accordion-card-header .icon-chevron-down {
    transform: rotateZ(180deg); }
  #people-overview .page-content .custom-accordion-card.open .custom-accordion-card-body {
    border-bottom: 2px solid #e2e4e9; }
  #people-overview .page-content .people {
    margin: 0 -2em;
    padding-top: 3.6em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
    #people-overview .page-content .people .person {
      margin: 0 2em;
      margin-bottom: 4em;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center; }
      #people-overview .page-content .people .person-main {
        margin-bottom: 1.1em;
        position: relative; }
        #people-overview .page-content .people .person-main-img {
          width: 8em;
          height: 8em;
          object-fit: contain;
          border-radius: 16px; }
        #people-overview .page-content .people .person-main-icon {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          justify-content: center;
          position: absolute;
          top: 0;
          right: 0;
          width: 2.8em;
          height: 2.8em;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          border: solid 1px #f5f5f5;
          background-color: #ffffff;
          border-radius: 50%;
          transform: translate(45%, -45%); }
          #people-overview .page-content .people .person-main-icon .icon-thumbs-up {
            font-size: 1.56em;
            color: #00be20; }
          #people-overview .page-content .people .person-main-icon .icon-exclamation-circle {
            font-size: 1.56em;
            color: #f52600; }
          #people-overview .page-content .people .person-main-icon .ok {
            font-size: 1.2em;
            font-weight: 700;
            letter-spacing: -0.24px;
            color: #ff8900; }
      #people-overview .page-content .people .person-info {
        width: 100%;
        max-width: 12em;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        #people-overview .page-content .people .person-info-name {
          margin-bottom: 0.24em;
          font-size: 1.25em;
          font-weight: 500;
          color: #172b4d;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        #people-overview .page-content .people .person-info-position {
          font-size: 1.15em;
          font-weight: 400;
          letter-spacing: -0.03px;
          color: #7a869a;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }

.content-01.side-menu-content {
  position: relative;
  padding: 2.7em 2em; }
  .content-01.side-menu-content .side-menu-content-header {
    border-bottom: 2px solid #e2e4e9; }
    .content-01.side-menu-content .side-menu-content-header-item {
      padding-left: 0.65em;
      padding-right: 0.65em;
      margin-bottom: 2.7em;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center; }
      .content-01.side-menu-content .side-menu-content-header-item-icon {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        width: 2.75em;
        height: 2.75em;
        border-radius: 3px;
        background-color: var(--blue-primary); }
        .content-01.side-menu-content .side-menu-content-header-item-icon i {
          font-size: 1.9em;
          color: #fff; }
      .content-01.side-menu-content .side-menu-content-header-item-info {
        margin-left: 0.95em; }
        .content-01.side-menu-content .side-menu-content-header-item-info-title {
          margin-bottom: 0.3018867925em;
          font-size: 1.325em;
          font-weight: 600;
          color: #42526e; }
        .content-01.side-menu-content .side-menu-content-header-item-info-subtitle {
          font-size: 1.13em;
          font-weight: 400;
          color: #6b778c; }
    .content-01.side-menu-content .side-menu-content-header .side-menu-content-back {
      padding-left: 1.2em;
      padding-right: 0.65em;
      margin-bottom: 1.9em;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      cursor: pointer; }
      .content-01.side-menu-content .side-menu-content-header .side-menu-content-back i {
        font-size: 2em;
        color: #42526e; }
      .content-01.side-menu-content .side-menu-content-header .side-menu-content-back-text {
        margin-left: 0.9481481481em;
        font-size: 1.3em;
        font-weight: 400;
        color: #42526e; }
  .content-01.side-menu-content .side-menu-content-body .side-menu-content-segment {
    border-bottom: 2px solid #e2e4e9; }
    .content-01.side-menu-content .side-menu-content-body .side-menu-content-segment.side-trigger {
      cursor: pointer; }
    .content-01.side-menu-content .side-menu-content-body .side-menu-content-segment:first-of-type .side-menu-content-title {
      padding-top: 1.6153846154em;
      padding-bottom: 1.5384615385em; }
    .content-01.side-menu-content .side-menu-content-body .side-menu-content-segment:nth-of-type(3) .side-menu-content-title {
      padding-top: 1.6153846154em;
      padding-bottom: 1.5384615385em; }
  .content-01.side-menu-content .side-menu-content-body .side-menu-content-title {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 1.3076923077em;
    padding-top: 1.3076923077em;
    font-size: 1.3em;
    font-weight: 600;
    color: #42526e; }
  .content-01.side-menu-content .side-menu-content-body .side-menu-content-item {
    position: relative;
    width: 100%;
    padding-left: 0.65em;
    padding-right: 0.65em;
    margin-bottom: 1.9em;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    z-index: 1;
    cursor: pointer; }
    .content-01.side-menu-content .side-menu-content-body .side-menu-content-item:last-of-type {
      margin-bottom: 3.8em; }
    .content-01.side-menu-content .side-menu-content-body .side-menu-content-item i {
      font-size: 1.9em;
      color: #42526e; }
    .content-01.side-menu-content .side-menu-content-body .side-menu-content-item-text {
      margin-left: 0.9em;
      font-size: 1.3em;
      font-weight: 400;
      color: #42526e; }
    .content-01.side-menu-content .side-menu-content-body .side-menu-content-item.active .side-menu-content-item-text {
      font-weight: 600;
      color: #086cf9; }
    .content-01.side-menu-content .side-menu-content-body .side-menu-content-item.active::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20em;
      height: 3.6em;
      border-radius: 3px;
      background-color: #ebecf0;
      z-index: -1; }
    .content-01.side-menu-content .side-menu-content-body .side-menu-content-item:hover::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20em;
      height: 3.6em;
      border-radius: 3px;
      background-color: #ebecf0;
      z-index: -1; }

.content-02-body.side-menu-content-body {
  padding-left: 2.7em;
  padding-right: 2.7em;
  position: absolute;
  top: var(--side-menu-header-height);
  left: 0;
  transform: translate(-100%, 0);
  height: calc(100% - var(--side-menu-header-height));
  background-color: #f6f7f8;
  border-bottom: 0;
  z-index: 10;
  transition: all 0.3s ease-in-out; }
  .content-02-body.side-menu-content-body .side-menu-content-segment {
    border-bottom: 0 !important; }
  .content-02-body.side-menu-content-body .side-menu-content-item {
    margin-bottom: 2em !important; }
    .content-02-body.side-menu-content-body .side-menu-content-item-text {
      margin-left: 0 !important; }
  .content-02-body.side-menu-content-body.open {
    transform: translate(0, 0); }
